@mixin gradient($left, $right) {
  @content;
  background-image: linear-gradient(to right, $left, $right) !important;
  transition: 1s;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 1024px) {
    @content;
  }
}

$purple-color: #9c69e2;

.home {
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
  .home__section {
    margin-top: 6rem;
    position: relative;
    margin-bottom: 10rem;
    h1 {
      font-size: 5rem;
      font-weight: 700;
      color: #212353;
      max-width: 60%;
      @include tablet {
        max-width: 100%;
      }
      @include mobile {
        max-width: 100%;
      }
    }
    img {
      position: absolute;
      top: 7rem;
      left: 28rem;
      @include tablet {
        opacity: 0.3;
      }
    }
    p {
      max-width: 36%;
      line-height: 2rem;
      margin-top: -2rem;
      margin-bottom: 2rem;
      @include tablet {
        max-width: 100%;
      }
    }
    button {
      padding: 1.3rem 2.5rem;
      background: $purple-color;
      border-radius: 50px;
      color: #fff;
      font-weight: 600;
      font-size: 1rem;
      border: none;
    }
  }
}

button:hover {
  @include gradient($purple-color, #f063b8);
  cursor: pointer;
}

.features p {
  font-family: "Sen", sans-serif;
}

.features h1,
.features h2 {
  font-family: "Open Sans", sans-serif;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features > p {
  max-width: 38rem;
  text-align: center;
  color: #4b5d68;
  line-height: 1.5rem;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include tablet {
    grid-template-columns: 1fr;
    place-items: center;
    margin-bottom: 40rem;
  }
  width: 1000px;
  height: 800px;
  grid-column-gap: 2rem;
  grid-row-gap: 0rem;
  margin-top: 4rem;
}

.cardItem {
  position: relative;
  width: 410px;
  height: 310px;
  @include tablet {
    margin-bottom: 3rem;
  }
}

.cardItem-info {
  position: absolute;
  top: 36px;
  left: 29%;
  right: 10%;
}

.cardItem-info h1 {
  font-size: 1.3rem;
}

.cardItem-info p {
  margin-top: 1.2rem;
  font-size: 1rem;
  color: #4b5d68;
  line-height: 1.4rem;
  height: 140px;
}

.cardItem-info h2 {
  font-size: 1rem;
}

.cardItem-info img {
  position: absolute;
}

.cardItem-img {
  position: absolute;
  top: 33%;
  left: -80px;
  width: 180px;
  height: 150px;
}

.cardItem-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features i {
  color: #9c69e2;
}

.testimonials {
  width: 76%;
  height: 45rem;
  h1 {
    color: #fff;
    margin: 0;
    height: 2rem;
    padding: 5rem;
    font-size: 2rem;
    @include mobile {
      padding: 5rem 0;
      text-align: center;
    }
  }

  &__main {
    width: 83%;
    height: 50%;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3) !important;
    border-radius: 20px;
    display: flex;
    align-items: center;
    .man {
      width: 80%;
      height: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 96%;
      }
      .image {
        width: 9rem;
        height: 4.6rem;
        @include mobile {
          width: 12rem;
          height: 8rem;
          margin-bottom: 2rem;
          margin-top: 2.3rem;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .info {
        max-width: 78%;
        margin-left: 3.5rem;
        @include mobile {
          margin-left: 0;
        }
        h1 {
          padding: 0;
          color: #212353;
          font-size: 1.2rem;
          @include mobile {
            text-align: center;
          }
        }
        p {
          max-width: 35rem;
          line-height: 1.8;
          @include mobile {
            text-align: center;
            max-width: 40rem;
          }
        }
        span {
          color: #9c69e2;
          @include mobile {
            text-align: center;
          }
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    row-gap: 0.3rem;
    .img {
      width: 0.6rem;
      height: 0.6rem;
      margin-top: 4.5rem;
    }
    img {
      width: 0.4rem;
      height: 0.4rem;
      margin-top: 4.5rem;
    }
  }
}
