body {
  max-width: 100vw;
  font-size: 100%;
}
header,
footer,
section {
  margin: 2rem 12%;
}

body {
  border: none;
  outline: none;
}
.home p,
.testimonials p {
  color: #4b5d68;
}

.testimonials {
  background-color: #9c69e2;
  border-radius: 50px;
}
